{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'ZohoAPI' %}

{% set tabs = {
    intro: {label: 'Intro', url: '#intro'},
    graphql: {label: 'GraphQL Token', url: '#graphql'},
    client: {label: 'Client ID/Secret', url: '#client'},
    zohotoken: {label: 'Zoho Token', url: '#zohotoken'},
    geturl: {label: 'Url API', url: '#geturl'},
    logs: {label: 'Logs', url: '#logs'},
    config: {label: 'Config', url: '#config'},
} %}

{% block content %}

    {% set entry = craft.app.getPlugins().getPlugin('zoho-crm-api').getSettings() %}

    <div id="intro">
        <h1>ZohoAPI Plugin v1.0</h1>
        <p>Get data from ZohoCRM in Guzzle and add to database in CraftCMS do it using GraphQL.</p>
        <p>Last updated data: </p> <b> {{ entry.last_updated }} </b>
    </div>

    <div id="client" class="hidden">
        Client ID: <b> {{ entry.client_id }} </b> <br />
        Client Secret: <b> {{ entry.client_secret }} </b> <br />

        <form method="POST" action="" style="padding-top: 30px;">

            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'zoho-crm-api/configure/save',
            }) }}

            {{ forms.textField({
                label: 'Client ID',
                name: 'client_id',
                value: '',
                instructions: 'Enter your Client ID from ZohoCRM.',
                first: true,
                required: true,
            }) }}

            {{ forms.textField({
                label: 'Client Secret',
                name: 'client_secret',
                value: '',
                instructions: 'Enter your Client Secret from ZohoCRM.',
                first: true,
                required: true,
            }) }}
            <input type="submit" class="submit btn" value="Save!"/>
        </form>
    </div>

    <div id="graphql" class="hidden">
        GraphQL Token: <b> {{ entry.graphql_token }} </b> <br />

        <form method="POST" action="" style="padding-top: 30px;">

            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'zoho-crm-api/configure/auth',
            }) }}

            {{ forms.textField({
                label: 'GraphQL Token',
                name: 'graphql_token',
                value: '',
                instructions: 'Enter your GraphQL Token from CraftCMS.',
                first: true,
                required: true,
            }) }}

            <input type="submit" class="submit btn" value="Save!"/>
        </form>
    </div>

    <div id="zohotoken" class="hidden">
        Zoho Token: <b> {{ entry.token_crm }} </b> <br />
        Refresh Token: <b> {{ entry.zoho_token }} </b> <br />
        Access Token: <b> {{ entry.access_token }} </b> <br />

        <form method="POST" action="" style="padding-top: 30px;">

            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'zoho-crm-api/configure/send',
            }) }}

            {{ forms.textField({
                label: 'Token',
                name: 'token',
                value: '',
                instructions: 'Enter token from ZohoCRM.',
                first: true,
                required: true,
            }) }}

            <input type="submit" class="submit btn" value="Save!"/>
        </form>
    </div>

    <div id="geturl" class="hidden">
        Url API: <b> {{ entry.link_to_api_craftCMS }} </b> <br />

        <form method="POST" action="" style="padding-top: 30px;">

            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'zoho-crm-api/configure/url',
            }) }}

            {{ forms.textField({
                label: 'Url API',
                name: 'link_to_api_craftCMS',
                value: '',
                instructions: 'Enter url to api in CraftCMS for example: http://domain.com/api',
                first: true,
                required: true,
            }) }}

            <input type="submit" class="submit btn" value="Save!"/>
        </form>
    </div>

    <div id="logs" class="hidden">
        <a href="{{ craft.app.sites.primarySite.baseUrl }}admin/zoho-crm-api/configure/index"><input type="submit" class="submit btn" value="Show logs!"/>
        </a>
    </div>

    <div id="config" class="hidden">
        <h1>Mapping fields from ZohoCRM to CraftCMS</h1>
        <p>We have to create a file <b>zohocrmapi.php</b> in folder <b>config</b>.</p>
        <p>Sample mapping:</p>
        <pre>
< ?php
return [
    [
        'zoho_key' => 'ML_Number',
        'craft_key' => 'referenceNumber',
        'type' => 'String'
    ],
    [
        'zoho_key' => 'Bedrooms2',
        'craft_key' => 'amountOfBedrooms',
        'type' => 'Number'
    ],
    [
        'zoho_key' => 'New_reduced_price',
        'craft_key' => 'reducedPrice',
        'type' => 'Boolean'
    ],
    [
        'zoho_key' => 'Short_description',
        'craft_key' => 'description'
    ],
    [
        'zoho_key' => 'On_the_website',
        'craft_key' => 'onTheWebsite'
    ],
    [
        'zoho_key' => 'Area',
        'craft_key' => 'handwrittenTitle',
        'type' => 'String'
    ],
    [
        'zoho_key' => 'Price',
        'craft_key' => 'price',
        'type' => 'Number'
    ],
    [
        'zoho_key' => 'Plot_measure_M2',
        'craft_key' => 'plotMeasure',
        'type' => 'Number'
    ],
    [
        'zoho_key' => 'Living_area_M2',
        'craft_key' => 'livingAreaMeasure',
        'type' => 'Number'
    ],
    [
        'zoho_key' => 'Bathrooms',
        'craft_key' => 'amountOfBathrooms',
        'type' => 'Number'
    ],
    [
        'zoho_key' => 'Secret_property',
        'craft_key' => 'secretProperty',
        'type' => 'Boolean'
    ],
    [
        'zoho_key' => 'Name',
        'craft_key' => 'title',
        'type' => 'String'
    ]
];
?>
</pre>
    </div>

{% endblock %}
