{% extends '_layouts/cp' %}

{% import '_includes/forms' as forms %}

{% set title = 'ZohoAPI Logs' %}

{% block content %}
    <div style="display: flex;">
        <a href="{{ craft.app.sites.primarySite.baseUrl }}admin/zoho-crm-api/#logs">
            <input type="submit" class="submit btn" value="Back to plugin"/>
        </a>

        <form method="POST" action="" style="padding-bottom: 30px; padding-left: 10px;">

            {{ csrfInput() }}

            {{ forms.hidden({
                name: 'action',
                value: 'zoho-crm-api/configure/delete',
            }) }}

            <input type="submit" class="submit btn" value="Clear logs"/>
        </form>
    </div>


    <table style="width:100%">
        <tr>
            <th><b>ID</b></th>
            <th><b>ML_Number</b></th>
            <th><b>Craft_ID</b></th>
            <th><b>Result Zoho</b></th>
            <th><b>Errors Zoho</b></th>
            <th><b>Action</b></th>
            <th><b>Date Created</b></th>
        </tr>
        {% set logs = logs_limit %}

        {% for data in logs %}
            <tr>
                <td>{{ data.id }}</td>
                <td>{{ data.ml_number }}</td>
                <td>{{ data.craft_id }}</td>
                <td>{{ data.result_zoho }}</td>
                <td>{{ data.errors_zoho }}</td>
                <td>{{ data.action }}</td>
                <td>{{ data.dateCreated }}</td>
            </tr>
        {% endfor %}
    </table>

    <br/>

    {% for i in 1..number_of_pages %}
        <a href="{{ craft.app.sites.primarySite.baseUrl }}admin/zoho-crm-api/configure/index?page= {{ i }} "> {{ i }} </a>
    {% endfor %}


{% endblock %}
